.color{
    color: darkmagenta;
    font-size: 45px;
    text-align: center;
}
.c{
    font-size: 25px;
    color: blue;
    font-weight: 700;
    text-align: center;
}
.j{
    font-size: 40px;
    color: darkorange;
    font-weight: 900;
    

}
.gg {
    font-size: 40px;
    color: darkorange;
    font-weight: 900;
    text-align: left;
}
.colo {
    color: darkblue;
    font-size: 30px;
}
.jj{
    font-size: 40px;
    color: darkorange;
    font-weight: 900;
    text-align: center;

}
.color1{
    color: darkmagenta;
    font-size: 45px;
    text-align: center;
}
.color11{
    color: darkmagenta;
    font-size: 45px;
    text-align: center;

}